{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
<title>
  {% block title %}
  {% endblock %}
</title>

</head>

<body>
  <!-- NAV BAR -->
  <nav class="shadow-lg p-8 bg-white col-md-12">
    <div class="container-fluid">
        <span class="self-center text-3xl font-bold col-md-6 text-left" >Unexpected Import</span>  
      <div class="text-right" style="font-size: large;">
        <a href="{% url 'index2'%}" class="px-3 text-xl font-medium text-gray-700 hover:text-gray-900">Home</a>      
      </div>
    </div>
  </nav>

<!-- VIDEO IN BACKGROUND -->

  <div class="video-container">
    <video autoplay muted loop id="bg-video">
      <source src="{% static 'videos/video1.mp4' %}" type="video/mp4">
    </video>
  </div>

  <main id="section">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>